.messageContainer {
  background-color: white !important;
  overflow-y: auto;
  height: 425px;
  padding: 0px 0px 20px 0px;
}

.botMessageContainer {
  width: 70%;
  float: left;
}
.humanMessageContainer {
  width: 70%;
  float: right;
}

.chat-header {
  background-color: #76698e;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 1rem 1.25rem;
  text-align: center;
}

.botPic {
  border-radius: 25px;
  border-style: none;
  box-sizing: border-box;
  left: 10px;
  position: absolute;
  vertical-align: middle;
}

.message {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 0;
  margin-top: 0;
  padding: 1rem;
}

.botMessage {
  float: left;
  margin-left: 40px;
  background-color: #d4d5e3;

  border-radius: 0 0.5rem 0.5rem 0.5rem;
}

.humanMessage {
  float: right;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  background-color: #f7f9fc;
}
.sendContainer {
  background-color: white;
  border-top: 1px solid #edf1f7;
  padding: 20px;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
}

.btn-send {
  -webkit-appearance: button;
  align-items: center;
  background-color: #43285d;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1rem;
  margin: 0;
  overflow: visible;
  padding: 0.6875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: ease-in-out 0.15s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.btn-send:hover {
  transition: ease-in-out 0.15s;
  background-color: rgba(67, 40, 93, 0.7);
  border-color: rgba(67, 40, 93, 0.7);
}

.poweredByGoogle {
  float: right;
  color: rgb(160, 148, 181);
}

// SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 1.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
//   /SCROLLBAR
