<div class="container ">
  <h3 class="chat-header ">NYS Health Assistant</h3>
  <div class=" row messageContainer">
    <div class="">
      <div id="fromBot" class="botMessageContainer col-12 mt-3">
        <img
          alt="NYS bot avatar"
          class="botPic"
          height="40"
          width="40"
          src="../../assets/bot.jpeg"
        />
        <div class="message botMessage">
          We have the most up-to-date Novel Coronavirus (Covid-19)
          information<br /><br />
          ready to share with you. Get the facts you can trust!
        </div>
      </div>
      <div id="fromHuman" class=" humanMessageContainer col-12 mt-3">
        <div class="message humanMessage">
          ready to share with you. Get the facts you can trust!ready to share
          with you. Get the facts you can trust!ready to share with you. Get the
          facts you can trust!ready to share with you. Get the facts you can
          trust!ready to share with you. Get the facts you can trust!ready to
          share with you. Get the facts you can trust! ready to share with you.
          Get the facts you can trust!ready to share with you. Get the facts you
          can trust!ready to share with you. Get the facts you can trust!ready
          to share with you. Get the facts you can trust!ready to share with
          you. Get the facts you can trust!ready to share with you. Get the
          facts you can trust! ready to share with you. Get the facts you can
          trust!ready to share with you. Get the facts you can trust!ready to
          share with you. Get the facts you can trust!ready to share with you.
          Get the facts you can trust!ready to share with you. Get the facts you
          can trust!ready to share with you. Get the facts you can trust! ready
          to share with you. Get the facts you can trust!ready to share with
          you. Get the facts you can trust!ready to share with you. Get the
          facts you can trust!ready to share with you. Get the facts you can
          trust!ready to share with you. Get the facts you can trust!ready to
          share with you. Get the facts you can trust! ready to share with you.
          Get the facts you can trust!ready to share with you. Get the facts you
          can trust!ready to share with you. Get the facts you can trust!ready
          to share with you. Get the facts you can trust!ready to share with
          you. Get the facts you can trust!ready to share with you. Get the
          facts you can trust! ready to share with you. Get the facts you can
          trust!ready to share with you. Get the facts you can trust!ready to
          share with you. Get the facts you can trust!ready to share with you.
          Get the facts you can trust!ready to share with you. Get the facts you
          can trust!ready to share with you. Get the facts you can trust!
        </div>
      </div>
    </div>
  </div>
</div>
